body {
    background-color: #fcec83;
    text-align: center;
   
    
}

#intro-page {
    background: url('./images/splash-screen.jpg') center no-repeat;
}

#intro-page  div {
    display: flex;
    justify-content: center;
    
}

.intro-left { 
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    
}

.audio {
    width: 80px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
}

.keys {
    width: 150px;
    padding-left: 20px;
}

.intro-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px

}

.logo {
   
   
}

#player {
    margin-bottom:20px;
}
.start-button {
    display: flex;
    flex-direction: column;
    
}

.intro-right {
    text-align: right;
}




.over-page {
    background: url('./images/win-over-background.png') center no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
}


.over-page span {
    margin-top: -230px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}

#restart {
    width: 100px;
    color: yellow;
    border-style:solid;
    border-color: yellow;
    border-width: 5px;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: blue;
    border-radius: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#lvlUp {
    width: 100px;
    color: blue;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    padding: 10px;
    margin-left: 30px;
    background-color: yellow;
    border-radius: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}