body {
    background-color: #fcec83;
    text-align: center;
   
    
}

#intro-page {
    background: url('./images/splash-screen.jpg') center no-repeat;
    position: absolute;
    width: 1038px;
    height: 520px;
    left: calc(50% - (1038px/2));    
    display: flex; 

}

#intro-page  div {
    display: flex;
    justify-content: center;
    
}

.intro-left { 
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 150px;
    width: (1020 / 3)
    
}

.audio {
    width: 80px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
}

.keys {
    width: 150px;
    padding-left: 20px;
    margin-bottom: 70px;
}

.intro-center {
    flex-direction: column;
    align-items: center;
    width: (1020 / 3)

}

.intro-right {
    width: (1020 / 3)
}

.logo {
   margin-top: -100px;
   margin-bottom: 100px;
   
}

#player {
    margin-bottom:50px;
}

.start-button {
    display: flex;
    flex-direction: column;
    width: 125px;
    
    
}

.intro-right {
    background-color: rgba(0,0,0,0.5);
    width: 200px;
    height: 300px;
    border-radius: 40px;
    margin-top: 100px;
    margin-left: 50px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
}

h3 {
    color: yellow;
    margin-bottom: -10px;
}

p {
    color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: -10px;
}

h4 {
    color: #bbd4fc;
}

.over-page {
    background: url('./images/win-over-background.png') center no-repeat;
    margin-top: 10px; 
    position: absolute;
    left: calc(50% - (1038px/2));
    width: 1020px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#text {
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    height: 200px;
    line-height:  1px;
    border-radius: 40px;
    margin-top: 200px;
    margin-left: 50px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;

}
.buttons {
    flex-direction: row;
    justify-content: space-evenly;
}

#restart {
    width: 100px;
    
    /* color: yellow;
    border-style:solid;
    border-color: yellow;
    border-width: 5px;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: blue;
    border-radius: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}

#lvlUp {
    width: 100px;
    
    /* color: blue;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    padding: 10px;
    margin-left: 30px;
    background-color: yellow;
    border-radius: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

#myCanvas {
    width: 1038px;
    height: 520px;
    left: calc(50% - (1038px/2)); 
    position: absolute;
    /* display: flex;
    justify-content: center; */
}

.win-page {
    background: url('./images/win-background.png') center no-repeat;
    margin-top: 10px; 
    position: absolute;
    left: calc(50% - (1038px/2));
    width: 1020px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
